h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
    position: relative;
    text-align: center;
}

h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 75px;
    height: 4px;
    background-color: #D33802;
    transform: translateX(-50%);
}

*, ::after, ::before {
    box-sizing: border-box;
}

/* General paragraph styling */
.my-3 {
    font-size: 16px;
    line-height: 1.5;
}

/* Style for the specific link inside the paragraph */
.my-3 a {
    text-decoration: none;
    color: #D33802;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

/* Hover effect for the link */
.my-3 a:hover {
    color: #A12A01;
    border-bottom: 2px solid #D33802;
}
