/* Service Cards Container */
.service-cards {
    position: relative;
    width: 92%;
    min-height: 275px;
    margin: 12px;
    padding: 32px 24px;
    background-color: #f2f8f9;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    z-index: 0;
    transition: all 0.3s ease-out, transform 0.3s ease-in-out;
}

/* Service Cards Heading and Paragraph */
.service-cards h3,
.service-cards p {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

/* Service Cards Hover Effect */
.service-cards:hover {
    transform: scale(1.05);
}

.service-cards:hover:before {
    transform: scale(1);
}

.service-cards:hover h3,
.service-cards:hover p {
    transform: scale(1.1);
    color: #FFF;
}

/* Service Cards Background Gradient */
.service-cards:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #D33802, #ff6e40);
    transform: scale(0);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

/* Service Cards Hover or Scroll Over Effect */
.service-cards:hover, .service-cards.scrolled-over {
    transform: scale(1.05);
}

.service-cards:hover:before, .service-cards.scrolled-over:before {
    transform: scale(1);
}

.service-cards:hover h3, .service-cards.scrolled-over h3,
.service-cards:hover p, .service-cards.scrolled-over p {
    transform: scale(1.1);
    color: #FFF;
}

/* Card Titles */
.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 8px;
    color: #221F1E;
}

/* Card Subtitles */
.card-subtitle {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 16px;
    color: #221F1E;
}

/* Style for the specific link inside the card subtitle */
.text-muted.card-subtitle.mb-2 a {
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* Hover effect for the link */
.text-muted.card-subtitle.mb-2 a:hover {
    color: #ffffff;
    text-decoration: none;
}

/* Card Text */
.card-text {
    font-size: 1rem;
    font-weight: 400;
    color: #221F1E;
}

/* CSS */
.service-cards.show {
    transform: scale(1.1);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
